/* =RESET */
html {
  font-size: calc(1em * .625);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  height: auto;
}

ul {
  list-style-type: none;
}

input,
button,
textarea {
  outline: none;
  background: transparent;
}

textarea {
  resize: none;
}

a {
  color: inherit;
}

/* =VARIABLES */
/* =GENERAL */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e1e7ec;
}

main {
  display: flex;
  padding: 10px;
}
main > div {
  flex: 1;
}
main > div + div {
  margin-left: 10px;
}

.block {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  padding: 15px;
}
.block + .block {
  margin-top: 10px;
}

/* =NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: #12424d;
  color: #fff;
}
nav h1 img {
  display: block;
  height: 30px;
  width: auto;
}

/* =INFOS */
