@charset "UTF-8";
/* =RESET */
html {
  font-size: calc(1em * .625);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  height: auto;
}

ul {
  list-style-type: none;
}

input,
button,
textarea {
  outline: none;
  background: transparent;
}

textarea {
  resize: none;
}

a {
  color: inherit;
}

/* =VARIABLES */
/* =GENERAL */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e1e7ec;
  color: #5f6b7a;
}

main {
  display: flex;
  padding: 10px;
}
main > div {
  flex: 1;
}
main > div + div {
  margin-left: 10px;
}

.block {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  padding: 15px;
}
.block + .block {
  margin-top: 10px;
}
.block__header {
  border-bottom: 1px solid #cecece;
  margin: -15px -15px 0;
  padding: 7px 15px;
  font-size: 20px;
}
.block__header i {
  margin-right: 5px;
}
.block__header--blue {
  background: #44a7b7;
  color: #fff;
}
.block__content {
  margin-top: 15px;
}

/* =NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: #12424d;
  color: #fff;
}
nav h1 img {
  display: block;
  height: 30px;
  width: auto;
}

/* INFOS */
.infos-header {
  display: flex;
  align-items: center;
}
.infos-header__img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 1px solid #cecece;
}

.payment th {
  text-align: left;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 30px);
  height: 100px;
  margin: 15px 0 -15px -15px;
  background: #efefef;
}

.phone {
  display: flex;
  justify-content: center;
}
.phone__switch {
  display: none;
}
.phone__content {
  padding: 5px 30px;
  border: 1px solid transparent;
}
.phone__content:before {
  content: "Voir le numéro de téléphone";
}
.phone__content span {
  display: none;
  color: #000;
}
.phone__content:hover {
  border: 1px solid #cecece;
}
.phone__switch:checked ~ .phone__content {
  border: 1px solid #cecece;
}
.phone__switch:checked ~ .phone__content:before {
  content: "";
}
.phone__switch:checked ~ .phone__content span {
  display: inline;
}
